:root {
  --webstudio-color: #2196f3;
  --background: #2f303a;
  --title-nav-color: #212121;
  --text-contacts-color: #757575;
  --regular-customer-color: #afb1b8;
  --regular-customer-background-color: #fff;
  --social-links-color: #afb1b8;
  --social-links-background-color: #fff;
  --icon-footer-color: #fff;
  --icon-footer-background-color: #ffffff1a;
  --webstudio-font-family: Roboto, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-contacts-color);
  cursor: pointer;
  font-family: var(--webstudio-font-family);
}

ul {
  list-style-type: none;
}

/* Container general */

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.section94px {
  margin: 0 auto;
  max-width: 1170px;
  padding: 94px 0 94px 0;
}

/* Header Section */

.header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  margin: 0 auto;
}

.header-text {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  max-width: 1170px;
  margin: 0 auto;
}

.logo {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration-line: none;
}

.logo-active:hover,
.logo-active:focus {
  color: var(--webstudio-color);
  margin: 0;
}

.navigation {
  align-items: baseline;
  display: flex;
}

.navigation-links {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.navigation-link {
  color: var(--title-nav-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-align: left;
  text-decoration-line: none;
}

.navigation-link-active:hover,
.navigation-link-active:focus {
  color: var(--webstudio-color);
}

.contacts {
  display: flex;
  gap: 40px;
}

.contact {
  color: var(--text-contacts-color);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.14;
  text-align: left;
  text-decoration-line: none;
}

.email:hover,
.phone:hover,
.email:focus,
.phone:focus {
  color: var(--webstudio-color);
}

/* Hero Section*/

.hero {
  align-items: center;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Hero_img.jpg");
  display: flex;
  flex-direction: column;
  height: 600px;
  justify-content: center;
  width: 1600px;
}

.hero-text {
  color: #fff;
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
}

.request-our-service-button {
  background: var(--webstudio-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  letter-spacing: 0.06em;
  line-height: 1.875;
  text-align: center;
  width: 200px;
}

.request-our-service-button:hover,
.request-our-service-button:focus {
  background-color: #fff;
  color: var(--webstudio-color);
}

/* ATTENTION TO DETAILS advertising Section*/

.big-icons-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 94px 0 0 0;
}

.big-icon-area {
  align-items: center;
  background-color: #f5f4fa;
  display: flex;
  height: 120px;
  justify-content: center;
  width: 270px;
}

.advertising {
  display: flex;
  margin: 0 auto;
  max-width: 1170px;
  gap: 30px;
  justify-content: space-between;
}

.advertising-title {
  color: var(--title-nav-color);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.14;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  padding-top: 30px;
}

.advertising-text {
  font-size: 14px;
  height: 75px;
  letter-spacing: 0.03em;
  line-height: 1.71;
  margin: 10px 0 0 0;
  text-align: left;
  width: 270px;
}

/* What we do Section */

.what-we-do-section {
  margin: 0 auto;
  max-width: 1170px;
  padding-bottom: 94px;
}

.title {
  color: var(--title-nav-color);
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 1.17;
  margin: 0;
  padding: 0 0 50px 0;
  text-align: center;
}

.what-we-do-photo {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: center;
}

/* Our Team Section*/

.our-team {
  background-color: #f5f4fa;
  max-width: 1600px;
}

.team {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1170px;
}

.photo-with-caption {
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.name {
  color: var(--title-nav-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin: 30px 0 10px 0;
  text-align: center;
}

.job {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.19;
  margin: 0 0 30px 0;
  text-align: center;
}

.icons-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 0 0 30px 0;
}

.icon {
  align-items: center;
  background-color: var(--social-links-background-color);
  border-radius: 22px;
  color: var(--social-links-color);
  display: flex;
  height: 44px;
  justify-content: center;
  width: 44px;
}

.icon:hover,
.icon:focus {
  background-color: var(--webstudio-color);
  color: var(--social-links-background-color);
}

/* Regular Customers */

.regular-customers-icon-area {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: var(--regular-customer-color);
  display: flex;
  height: 92px;
  justify-content: center;
  width: 170px;
}

.regular-customers-icons-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.regular-customers-icon-area:hover,
.regular-customers-icon-area:focus {
  color: var(--webstudio-color);
  border-color: var(--webstudio-color);
}

/* Footer Section */

.footer {
  background-color: var(--background);
}

.footer-text {
  align-items: baseline;
  display: flex;
  gap: 94px;
  margin: 0 auto;
  max-width: 1170px;
  padding: 60px 0 60px 0;
}

.footer-logo {
  margin: 0 0 28px 0;
  padding: 0;
}

.address {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.14;
  padding-bottom: 12px;
}

.contacts-footer {
  margin: 0;
  padding: 0;
}

.contact-footer {
  color: #ffffff99;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.42px;
  line-height: 1.8;
  text-decoration-line: none;
}

.find-us-on-text {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.42px;
  line-height: normal;
  padding-top: 15px;
  text-transform: uppercase;
}

.footer-icons-list {
  display: flex;
  padding: 0;
}

.icon-footer {
  align-items: center;
  display: inline-block;
  justify-content: center;
  margin-right: 10px;
}

.icon-footer {
  background-color: var(--icon-footer-background-color);
  border-radius: 22px;
  color: var(--icon-footer-color);
  display: flex;
  height: 44px;
  width: 44px;
}

.icon-footer:hover,
.icon-footer:focus {
  background-color: var(--webstudio-color);
}

/* Portfolio Page*/

.filter-button-set .filter-button {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  color: var(--title-nav-color);
  font-family: var(--webstudio-font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.48px;
  line-height: 1.625;
  text-align: center;
  /* letter-spacing: 0.03em; */
}

.filter-button-set .filter-button:hover,
.filter-button-set .filter-button:focus {
  background-color: var(--webstudio-color);
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  /* shadow-middle */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.filter-button-set {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-button {
  padding: 6px 22px;
}

.title-portfolio {
  color: var(--title-nav-color);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  margin: 20px 0 4px 24px;
}

.subject-portfolio {
  font-size: 16px;
  letter-spacing: 0.03em;
  line-height: 1.875;
  margin: 0 0 20px 24px;
}

.photo-section {
  display: flex;
  flex-basis: calc((100% - 30) / 3);
  flex-wrap: wrap;
  gap: 30px;
  margin-left: -30px;
  margin-right: -30px;
  padding: 0;
}

.portfolio-card {
  background: #fff;
  border: 1px solid #eee;
}

.portfolio-card:hover,
.portfolio-card:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

/* Modal Section */

.modal {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;

}

.modal-content {
  background-color: #f5f4fa;
  height: 500px;
  margin: 0 auto;
  padding: 16px;
  position: relative;
  width: 35%;

}

.is-hidden {
  visibility: hidden;

}

.close-btn {
  background-color: red;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 16px;
  top: 16px;

}

.close-btn:hover,
.close-btn:focus {
  background-color: #fff;
  color: red;

}
